html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

[hidden] {
  display: none;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

body {
  color: #404040;
  font-family: "IBM Plex Sans", sans-serif;

  background: $primary-background;
  font-size: 1rem;
}

a {
  color: #0366ee;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #0246a2;
  text-decoration: underline;
}

p {
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  margin: 0 0 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.5em;
  padding: 0;
  word-wrap: break-word;
}

h1,
.h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0.5em;

  @media (min-width: $bp-medium) {
    font-size: 1.75em;
  }
}

h2,
.h2 {
  font-size: 1.3125em;
}

h3,
.h3 {
  font-size: 1.1875em;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 1em;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #eee;
  margin: 0 0 1.5625em;
  color: #555;
  padding-left: 0.8421052632em;
  padding-right: 0.8421052632em;
}

blockquote cite {
  color: #808080;
  font-size: 0.8421052632em;
  padding-top: 1em;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875em;
}

code {
  background-color: #f7f7f7;
  color: #dd1144;
  padding: 0.25em;
  word-wrap: break-word;
}

pre {
  background-color: #f4f4f4;
  display: block;
  line-height: 1.5;
  margin-bottom: 1.5625em;
  overflow: auto;
  padding: 0.8125em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: break-all;
}

pre code {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: 1em;
  padding: 0;
}

.container {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
  width: $container-width;
}

.nn_colophon {
  margin: 3em 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.42);
  & a {
    color: $primary-text;
    padding: 0 5px;
  }
  & p {
    margin-bottom: 0;
  }
}

.nn_header {
  background-color: $primary-text;
  padding: 0.8em 0;
}

.nn_hero {
  background: rgba(0, 0, 0, 0.035);
  padding: 30px 0;
  border-radius: 5px;

  & h1 {
    margin: 0;
  }
  & p:last-child {
    margin: 0;
    padding-bottom: 0;
  }
}

.nn_menu {
  margin: 0;
  padding: 0;
}
.nn_menuItem {
  display: inline-block;
  & a {
    color: $primary-color;
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 20px;
  }
  &.naeem {
    font-weight: bold;
  }
}

.nn_featured {
  & h2 {
    @extend .nn_page-title;
    margin-bottom: 1.5em;
  }
}

.nn_page-title {
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 26px;
  margin-top: 30px;
}

.nn_project {
  padding: 30px;
  border-radius: 2px;
  margin-bottom: 1.5em;
  background: #eee;
}

a.nn_project {
  display: block;
  text-decoration: none;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  &:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.nn_project-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 10px;
}

.nn_project.nn_usedby {
  background: #24292e;
  color: #fff;
}

.nn_project.nn_gcemetery {
  background: #eb4132;
  color: #fff;
}

.nn_project.nn_acquiredby {
  background: #40aaa1;
  color: #fff;
}

.nn_project.nn_faang {
  background: #4285f4;
  color: #fff;
}

.nn_project.nn_exchainged {
  background: #383e47;
  color: #fff;
}

.nn_project.nn_urepublic {
  background: #ecf0f6;
  color: #6e7a8c;
}

.nn_project.nn_workingtime {
  background: #ae112b;
  color: #fff;
}

.nn_project-meta {
  font-size: 15px;
}

.nn_project-meta span {
  margin-right: 15px;
}

.nn_view-projects {
  -webkit-appearance: none;
  border: 1px solid #d7d7d7;
  display: block;
  border-radius: 2px;
  color: #6a6962;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 2em auto 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  max-width: 200px;
  &:hover {
    color: #f9f9f3;
    background: $primary-text;
    text-decoration: none;
    border-color: $primary-text;
  }
}

.nayme-photo {
  float: right;
  padding-left: 5px;
}

.nn_about-nayme {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nn_blog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nn_blog-list li {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
}

.nn_blog-list li a,
.nn_page-date,
.nn_page-back {
  @extend .nn_about-nayme;
  color: #222;
}

.nn_page-body {
  margin-top: 20px;
}
